{{#*inline "head-block"}}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.paulefou.com">
{{/inline}}

{{#*inline "page"}}

<section id="articles">
  {{#each posts}}
  <article id="{{this.id}}">
    <h2 class="article-title">
      <a href="blog/{{this.slug}}">
        {{this.title}}
      </a>
    </h2>
    <time class="dt-published">{{formatDate this.created_at}}</time>
    <div class="article-summary">
      {{this.description}}
    </div>
    <a class="read-more" href="blog/{{this.slug}}">read more...</a>
  </article>

  {{/each}}
  </section>

{{/inline}}
{{~> (parent)~}}